polkit.addRule(function(action, subject) {
  var allowed = [
    "org.freedesktop.login1.reboot",
    "org.freedesktop.login1.reboot-multiple-sessions",
    "org.freedesktop.login1.reboot-ignore-inhibit"
  ];
  if (subject.user === "lancerlogin" && allowed.indexOf(action.id) !== -1) {
    return polkit.Result.YES;
  }
});
